%span.h5.text-monospace
  =link_to tcc.test_case.name, test_case_commit_path(sha: params[:sha], test_case: tcc.test_case.name, module: tcc.test_case.module), class: 'stretched-link text-reset no-hover'
  %span.small.muted="(#{tcc.test_case.module})"
%p.text-right.mb-0
  -if @counts[tcc][:computers] > 0
    %span.badge.badge-secondary.badge-pill
      =@counts[tcc][:computers]
      %span.d-none.d-md-inline
        ='computer'.pluralize(@counts[tcc][:computers])
  -if @counts[tcc][:passes] > 0
    %span.badge.badge-success.badge-pill
      =@counts[tcc][:passes]
      %span.d-none.d-md-inline
        ='passes'.pluralize(@counts[tcc][:passes])
  -if @counts[tcc][:failures] > 0
    %span.badge.badge-danger.badge-pill
      =@counts[tcc][:failures]
      %span.d-none.d-md-inline
        ='failure'.pluralize(@counts[tcc][:failures])
  -if @counts[tcc][:checksums] > 1
    %span.badge.badge-primary.badge-pill
      =@counts[tcc][:checksums]
      %span.d-none.d-md-inline
        ='checksum'.pluralize(@counts[tcc][:checksums])
  %br
  %small
    %em
      As of
      =format_time(@last_tested[tcc])
