.row
  .col
    %h2
      Instances of
      %samp=@test_case.name

= render 'table'

.row
  .col.text-center
    .btn-group
      = link_to 'Test Overview', test_case_path(@test_case), class: 'btn btn-secondary text-light'
      -if admin?
        = link_to 'New Test Instance', new_test_case_test_instance_path, class: 'btn btn-primary text-light'
