.row
  .col
    %h1 Administrator Actions
    %p 
      %b
        Below are controls that are largely scattered throughout the web app
        that only administrators can access. They are assembled here for
        convenience.

.row
  .col
    %h2 User Control
    %p Add, edit, or delete users
    %hr
.row
  .col
    %h4 Add new user
=bootstrap_form_for @user do |f|
  - if @user.errors.any?
    .form-row
      .col.alert.alert-danger
        %h4.alert-heading= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %p
          %ul
            - @user.errors.full_messages.each do |message|
              %li= message      
  .form-row
    .col.field=f.text_field :email
  .form-row
    .col.field=f.password_field :password, label: "New Password"
    .col.field=f.password_field :password_confirmation, label: "Confirm New Password"
  .form-row
    .col.field=f.text_field :name
  - if current_user.admin?
    .form-row
      .col.field
        =f.form_group :admin do
          =f.check_box :admin
  .form-row
    .actions=f.submit 'Save', {class: 'btn btn-lg btn-primary'}
%hr

.row
  .col
    .h4 Edit User
=bootstrap_form_tag url: admin_edit_user_path, method: 'get' do |f|
  .form-row
    .col.field=f.select :user_id, @users.collect {|user| [user.name, user.id]}
  .form-row
    .actions=f.submit 'Edit', {class: 'btn btn-lg'}
%hr
.row
  .col
    %h4 Delete User
=bootstrap_form_tag url: admin_delete_user_path, method: 'delete' do |f|
  .form-row
    .col.field=f.select :user_id, @users.collect {|user| [user.name, user.id]}
  .form-row
    .actions=f.submit 'Delete', {class: 'btn btn-lg btn-danger', data: {confirm: "Are you absolutely sure you want to delete this user?\n\nAll of their computers and test data will be deleted, too."}}



      