%p#notice= notice

.row
  .col
    %h3
      %samp=@test_case.name
      in
      %samp=@test_case.module
      is 
      %span{class: "#{@commit_class} font-weight-bold"}=@commit_status.downcase
      in 
      %samp=link_to(@commit, commit_path(branch: params[:branch], sha: params[:sha]))
      with
      - case @checksum_count
      - when 0
        %span{class: 'text-info font-weight-bold'} no checksums.
      - when 1
        %span{class: 'text-success font-weight-bold'} one unique checksum.
      - else
        %span{class: 'text-primary font-weight-bold'} multiple unique checksums.
    -# %form{action: '/commits/select_test_case_commit/', method: 'get'}
    -#   .form-group.row
    -#     =label_tag "SHA", 'MESA commit: ', class: 'col-form-label col-xs-4 control-label form-control-lg'
    -#     .col-xs-8
    -#       =select_tag "SHA", options_for_select(@mesa_commits, @selected), class: 'custom-select form-control form-control-lg', id: 'commit_select'
    -#   .form-group.row
    -#     =label_tag "test_case", 'Test Case: ', class: 'control-label form-control-lg col-xs-4 col-form-label'
    -#     .col-xs-8
    -#       =select_tag "test_case", options_for_select(@tc_options, @test_case.name), class: 'custom-select form-control form-control-lg', id: 'test_case_select'  
    -#   %noscript
    -#     .form-group.row
    -#       .col-auto.align-middle
    -#         =submit_tag 'Go', class: 'btn btn-primary text-light form-control', name: nil, id: 'commit_select_go'
.row.mt-5
  .col
    %h3
      -if @test_case_commit.test_instances.length < @instance_limit
        = "All instances for commit"
        %samp=@commit
      - else
        ="Last #{@instance_limit} instances for commit"
        %samp=@commit
    - if not @test_case_commit.test_instances.empty?
      .table-responsive
        %table.table.table-hover.table-sm.text-center#test-detail
          %thead.thead-default
            %tr
              %th Status
              %th Computer
              %th Date Uploaded
              %th Runtime
              %th RAM Usage
              %th Checksum
              %th Threads
              %th Computer Specification
          %tbody
            -@test_case_commit.test_instances.each do |instance|
              -# %tr{class: @test_instance_classes[instance] + " clickable-row", "data-href": test_case_test_instance_path(@test_case, instance)}
              %tr
                %td=link_to(instance.passage_status, test_case_test_instance_path(@test_case, instance), class:'text-success')
                %td=link_to(instance.computer, user_computer_path(instance.computer.user, instance.computer))
                %td=format_time(instance.created_at)
                %td=instance.runtime_minutes.to_s + ' m'
                %td=format("%.2f", instance.rn_mem_GB) + ' GB'
                %td=instance.checksum[(-7..-1)]
                %td=instance.omp_num_threads
                %td=instance.computer_specification
    - else
      .alert.alert-warning
        %h4 No tests have been run yet.
