- unless @failure_types[tcv].nil? || @failure_types[tcv].empty?
  %dl{class: @checksum_groups[tcv] ? 'row' : 'row mb-0'}
    - @failure_types[tcv].keys.each do |failure_type|
      %dt.col-6.col-sm-3.mb-0.text-right.text-truncate= TestInstance.failure_types[failure_type] + ' Failure: '
      %dd.col-6.col-sm-9.mb-0= @failure_types[tcv][failure_type].map { |comp| comp.name }.sort_by { |comp_name| comp_name.downcase }.join(', ')
